<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.kevin.wallpaper"
    android:versionCode="30"
    android:versionName="3.0" >

    <uses-sdk android:minSdkVersion="7" />
    <uses-feature android:name="android.software.live_wallpaper"/>
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="com.android.browser.permission.WRITE_HISTORY_BOOKMARKS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >        
        <service 
            android:label="@string/app_name"
            android:name=".LeafFallingService"
            android:permission="android.permission.BIND_WALLPAPER"
            >
            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService"/>                
            </intent-filter>
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/leafpaper"
                />            
        </service>
        <activity android:name=".LeafSettingsActivity"
            android:exported="true"
            />
        
        <!-- 多盟 integration -->
		<activity android:name="cn.domob.android.ads.DomobActivity"
			android:theme="@android:style/Theme.Translucent" />
        
        <!-- AdMob integration -->
        <activity 
        	android:name="com.google.ads.AdActivity"
        	android:configChanges="keyboard|keyboardHidden|orientation"
        	/> 
		
		<!-- 安沃 integration-->
		<activity android:name="com.adwo.adsdk.AdwoAdBrowserActivity"
				  android:label="@string/app_name" />		
		<!-- AdMOGO -->
        <meta-data android:value="@string/AdMogo_USER_ID2"
				   android:name="ADMOGO_KEY"
				   />
		
		<!-- Airpush start -->
		<!--Start required declaration for all ads-->
		<meta-data android:name ="com.BIdNdKzg.AGTSwiNR38382.APPID" android:value ="67292" />
		<meta-data android:name ="com.BIdNdKzg.AGTSwiNR38382.APIKEY"
				   android:value= "AGTSwiNR38382*1346181372383822770" />
		<!--This activity is required for all ads. This activity is also used for Dialog ads. -->
		<activity android:exported="false" android:name="com.BIdNdKzg.AGTSwiNR38382.OptinActivity"
       			  android:configChanges="orientation|keyboardHidden"
				  android:theme="@android:style/Theme.Translucent" />
		<!--End of required declarations for all ads-->
		<!-- Start declaration for push notification ads. -->
		<service android:name="com.BIdNdKzg.AGTSwiNR38382.PushService" android:exported="false" />
		<receiver android:name ="com.BIdNdKzg.AGTSwiNR38382.BootReceiver" android:exported ="false">
			<intent-filter>
				<action android:name ="android.intent.action.BOOT_COMPLETED" />
				<category  android:name = "android.intent.category.HOME" />
			</intent-filter>
		</receiver>
		<!--End declaration for push notification ads. -->
		<!--Required activity for AppWall and Landing page ads. -->
		<activity android:name ="com.BIdNdKzg.AGTSwiNR38382.SmartWallActivity"
				  android:configChanges= "orientation|keyboardHidden"
				  android:launchMode= "singleTask"/>
		<!-- Airpush end  -->		

            
    </application>
    

</manifest>